/*stylesheet*/

/* vars */
:root {
  --background-color: #D8EAB2;
  --body-color: #111;
}

body {
  background-color: var(--background-color);
  margin: 0;  
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: 300;
}

h2 {
  font-weight: 900;
}

h2, h3 {
  margin top: 1em;
  margin bottom: 1em;
  font-size: 20px ;
}

h1, {
  font-size: 30px;
  font-weight: 900;
}

h5, {
  font-size: 200px;
  font-weight: 800;
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

#main, #footer, #masthead {
  margin: 1em 1em 0;
}

#logo a {
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

#logo h1 {
  letter-spacing: 1px;
  margin-bottom: 0;
}

#logo svg {
  margin-right: .25rem;
  height: 3.6rem;
  width: auto;
}

#topnav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
}

#topnav ul {
  display: flex;
}

#topnav li {
  margin-right: 2em;
  margin-bottom: 1rem;
}

#topnav li:first-child {
  margin-right: auto;
}

#topnav li:last-child {
  margin-right: 0;
}

#topnav li a {
  text-decoration: none;
  font-size: 1.2rem;
}

/* INTRO */

#intro {
  display: flex;
  align-items: center;
  height: 70vh;
}

#work h3, #page h3 {
  font font-size: ;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

#work h3 a, #page h3 a {
  color: var(--body-color);
  text-decoration: none;
}

.work-item {
  overflow: hidden;
  position: relative;
  width: 100%; 
}

.work-item .inner .work-inside {
  color: #727373;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.work-item .inner .work-inside p:last-child {
  margin-bottom: 0;
}

.work-item img {
  display: block;
  width: 100%;
  height: auto;
}

/* PAGE */

#page {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page-item .date-holder {
  margin-bottom: .25em;
}

.page-item img {
  display: block;
  width: 100%;
  height: auto;
}

.page-item .caption {
  font-size: .75rem;
  color: #666666;
  display: block;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: 2rem;
  text-align: right;
}

.page-item .date {
  margin: 0;
  font-size: .85rem;
  padding: 0 4px;
  color: var(--background-color);
  display: inline-block;
  background-color: var(--body-color);
}

.page-item h2 a {
  color: var(--body-color);
  text-decoration-color: transparent; 
  transition: text-decoration-color .3s ease-in-out;
}

.page-item h2 a:hover {
  color: var(--body-color);
  text-decoration-color: var(--body-color); 
}

.page-item p a {
  color: var(--body-color);
  text-decoration: underline;
}

.page-item p a:hover {
  color: var(--body-color);
  color: ghostwhite;
}


/*FOOTER*/

#footer {
  padding: 2em;
  text-align: center;
  font-size: .85rem;
}

#footer p:last-child {
  margin-bottom: 0;
}

/*RESPONSIVE*/

/* for variable type sizing */
@media screen and (min-width: 320px) {
  body {
    font-size: calc(12px + 4 * ((100vw - 320px) / 960));
  }
}

@media all and (max-width: 699px) { 

  .work-item .inner .work-inside {
    opacity: 1;
  }

}

@media all and (min-width: 700px) {

  #intro-holder h1 {
    font-size: 3.2rem
  }

  #intro {
    height: 70vh;
  }

  #intro-holder {
    padding: 0 5em;
  }

  body {
    font-size: 18px;
  }

}